# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines-test

pool:
  vmImage: ubuntu-latest

stages:
- stage: CreateFile
  jobs:
  - job: Create_a_text_file
    steps:
    - script: echo "Hello World" > file.txt
    - publish: '${System.DefaultWorkingDirectory}/file.txt' 

- stage: ReadTheFile
  jobs:
  - job: Read_the_file
    steps: 
    - download: current
    - script: cat file.txt
