# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines-test

pool:
  vmImage: ubuntu-latest

stages:
- stage: CreateFile
  jobs:
  - job: Create_a_text_file
    steps:
    - script: mkdir files && cd files && echo "Hello World" > file.txt
    - task: CopyFiles@2
      displayName: 'Copy file.txt'
      inputs:
        contents: 'files/**'
        targetFolder: '$(Build.ArtifactStagingDirectory)'

    - publish: '$(Build.ArtifactStagingDirectory)/files'
      displayName: 'Publish file'
      artifact: drop

- stage: ReadTheFile
  jobs:
  - job: Read_the_file
    steps: 
    - download: current
      artifact: drop
    - script: cat file.txt
