
trigger:
- main

stages:
 - stage: CreateFileAndPublish
   displayName: 'Create a file and publish it'
   jobs:
    - job: CreateFileJob
      displayName: 'Create File Job'
      pool:
        vmImage: 'ubuntu-latest'

      steps:
      - script: |
          echo "This is a sample file created by the pipeline." > samplefile.txt
          mkdir -p $(Build.ArtifactsStagingDirectory)
          cp samplefile.txt ${Build.ArtifactsStagingDirectory}/
        displayName: "Create samplefile.txt"

      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(Build.ArtifactsStagingDirectory)'
          artifact: 'my-sample-file'
        displayName: 'Publish sampleFile.txt as artifact'

 - stage: DownloadFileAndReadFile
   displayName: 'Stage 2: Download and Read File'
   dependsOn: CreateFileAndPublish
   jobs: 
    - job: ReadFileJob
      displayName: 'Read file job'
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: DownloadPipelineArtifact@2
      inputs:
        artifact: 'my-sample-file'
        path: '${Pipeline.Workspace}'
      displayName: 'Download sampleFile.txt artifact'
    - script: cat $(Pipeline.Workspace)/sampleFile.txt
      displayName: 'Display content of sampleFile.txt'
