trigger:
- azure-pipelines-test

pool:
  vmImage: ubuntu-latest

stages:
- stage: CreateFile
  jobs:
  - job: Create_a_text_file
    steps:
    - script: mkdir files && cd files && echo "Hello World" > file.txt
    - publish: '$(Build.ArtifactStagingDirectory)/files'
      displayName: 'Publish file'
      artifact: drop

- stage: ReadTheFile
  jobs:
  - job: Read_the_file
    steps: 
    - download: current
      artifact: drop
    - script: cat '$(Pipeline.Workspace)/drop/files/file.txt'
