# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines-test

pool:
  vmImage: ubuntu-latest

stages:
- stage: CreateFile
  jobs:
  - job: Create a text file
    steps:
    - script: echo "Hello World" > file.txt

- stage: ReadTheFile
  jobs:
  - job: Create the file
    steps: 
    - script: cat file.txt
